*{
    margin: 0;
    padding: 0;
}

.main{
    height: 98vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.mainbtns{
    margin: 20px;
    width: 80px;
    height: 27px;
    border: 1px solid;
    border-radius: 7px;
    background-color: #40189D;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    display: block;

}

.mainbtns:hover{
    color: #40189D;
    background-color: white;;
}

#loginform{
    width: 400px;
    height: 300px;
    border: 1px solid white;
    box-shadow: 0px 0px 18px 8px #888888;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

#userpass{
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input{
    height: 25px;
    width: 280px;
    border: 1px solid #40189D;
    border-radius: 5px;
}

#loginform a{
    color: #40189D;
    text-decoration: none;
    margin-left: 98px;
    margin-top: 10px;
}

.login{
    display: flex;
}

#userpass label{
    margin: 10px;
}

.loginbtn{
    width: 80px;
    height: 40px;
    border: 1px solid;
    border-radius: 7px;
    background-color: #40189D;
    color: white;
    text-align: center;
    padding: 10px;
    margin-left: 54px;
    cursor: pointer;
}

.loginbtn:hover{
    background-color: white;
    color: #40189D;
}

#signupform{
    /* position: absolute; */
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 0px 0px 18px 8px #888888;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 550px;
    align-items: center;
    justify-content: center;
}

#signupform label{
    margin: 5px;
}

#signupform input{
    margin: 5px;
    height: 30px;
}

#signupbtn{
    margin: 18px;
    width: 100px;
    height: 40px;
    border: 1px solid;
    border-radius: 10px;
    color: white;
    background-color: #40189D;
    cursor: pointer;
}

#signupbtn:hover{
    background-color: white;
    color: #40189D;
}

#userpass a{
    align-self: flex-end;
}

#signupform a{
    align-self: flex-end;
    margin-right: 40px;
}

.navigation ul li a{
    text-decoration: none;
    color: white;
    font-size: 23px;
    font-weight: bold;
}

.navigation{
    position: absolute;
    top: 0;
    left: 0;
    width: 30vw;
    height: 95vh;
    background-color: #40189D;
    padding: 20px;
}

.navigation ul{
    margin: 100px -15px;
}

.navigation ul li{ 
    margin: 46px 26px;
}

.navigation ul li i{
    color: white;
    margin: 6px 25px;
    font-size: 24px;
}


.container3{
    display: flex;
    flex-direction: row;
}

.container4{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 86vw;
    background-color: rgb(220, 220, 220);
    border: none;
    border-radius: 50px;
    height: 99vh;
    /* overflow-y: scroll; */
}

#user{
    width: 146px;
    display: flex;
    align-self: flex-end;
    margin: 17px;
    justify-content: center;
    align-items: center;
}

#user i{
    font-size: 30px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 30px;
    margin: 7px;
}


#incontainer{
    border: 1px solid white;
    border-radius: 11px;
    padding: 15px;
    margin: 15px 40px;
    background-color: white;
    overflow-y: scroll;
}

#butn{
    width: 128px;
    height: 50px;
    border: none;
    border-radius: 8px;
    background-color: #EDF2F7;
    cursor: pointer;
    font-size: 18px;
}


#butn:hover{
    background-color: white;
}


#agency{
    background-color: rgb(220, 220, 220);
    border-radius: 17px;
    /* color: #40189D; */
}

#inagency{
    color: #40189D;
}

#logo{
    color: #40189D;
}

.arrow{
    border: none;
    background-color: white;
    cursor: pointer;
    color: #9F7AEA;
}

th{
    width: 10%; text-align: left; color: #9F7AEA;
    padding: 21px;
    border-bottom: 1px solid #EDF2F7;
}

td{
    text-align: left;
    border-bottom: 1px solid #EDF2F7;
    padding: 21px;
}

.btn{
    width: 55px;
    height: 35px;
    border-radius: 8px;
    border: none;
    font-weight: 300;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    background-color: #EDF2F7;
}

.btn:hover{
    background-color: white;
}

#container6{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: white;
}

#popupform{
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0px 0px 18px 8px #888888;
}

#popupform p{
    align-self: flex-start;
    margin: 15px 160px;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 1px solid black;
}

#fontas{
    align-self: flex-end;
    margin: 15px;
    border: none;
    background-color: white;
    cursor: pointer;
}

#popupform label{
    margin: 10px;
}

#popupform input{
    font-size: 16px;
    padding: 5px;
    margin: 5px;
    height: 30px;
}

.cont{
    margin: 25px;
    align-self: flex-end;
}

.addagencybtn{
    width: 65px;
    height: 35px;
    border: none;
    /* border: 1px solid black; */
    border-radius: 5px;
    margin: 10px;
    font-size: 16px;
}


#cancel{
    align-self: flex-start;
    cursor: pointer;
    background-color: #EDF2F7;
}

#save{
    align-self: flex-end;
    color: white;
    background-color: #40189D;
    cursor: pointer;
}

#cancel:hover{
    background-color: white;
}

#save:hover{
    color: #40189D;
    background-color: white;
}

#container7{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: white;
}

#popupform1{
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0px 0px 18px 8px #888888;
}

#popupform1 label{
    margin: 10px;
}

#popupform1 input{
    font-size: 16px;
    padding: 5px;
    margin: 5px;
    height: 30px;
}

#popupform1 p{
    align-self: flex-start;
    margin: 15px 89px;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 1px solid black;
}

#update{
    align-self: flex-end;
    color: white;
    background-color: #40189D;
    cursor: pointer;
}

#update:hover{
    color: #40189D;
    background-color: white;
}

#cancel1{
    cursor: pointer;
    background-color: #EDF2F7;
}

#cancel1:hover{
    background-color: white;
}